<p id="notice"><%= notice %></p>

<h1>Pochi Top</h1>

<h2>Search Sitters</h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag('/sitters', :method => :get) do %>
      <%= label_tag :zip_code %>
      <%= text_field_tag :zip_code %>
      <%= label_tag :start %>
      <%= date_field_tag :start %>
      <%= label_tag :end %>
      <%= date_field_tag :end %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
</div>
