<p id="notice"><%= notice %></p>

<% if is_sitter? %>
  <h3>is Sitter</h3>
<% end %>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.encrypted_email_address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.encrypted_phone_number %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @user.birthdate %>
</p>

<% if is_sitter? %>

  <p>
    <strong>Zip Code:</strong>
    <%= @sitter.zip_code %>
  </p>

  <p>
    <strong>Residence Type ID:</strong>
    <%= @sitter.residence_type_id %>
  </p>

  <p>
    <strong>Capacity Type ID:</strong>
    <%= @sitter.capacity_type_id %>
  </p>

  <p>
    <strong>Has Dog From:</strong>
    <%= @sitter.has_dog_from %>
  </p>

  <p>
    <strong>Calendar</strong>
    <div id="calendar" style="width:40%"></div>
  </p>

<% end %>

<%= link_to 'Top', root_path %>

<%= javascript_tag do %>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            // put your options and callbacks here
            events: <%= raw @sitter_busy_dates.to_json %>,
            selectable: true
        })
    });
    var setBusyDays = function() {
        if (<%= !@sitter_busy_days.nil? %>) {
            if (<%= @sitter_busy_days.sunday %>) {
                $('.fc-widget-content.fc-sun').html('busy');
            }
            if (<%= @sitter_busy_days.monday %>) {
                $('.fc-widget-content.fc-mon').html('busy');
            }
            if (<%= @sitter_busy_days.tuesday %>) {
                $('.fc-widget-content.fc-tue').html('busy');
            }
            if (<%= @sitter_busy_days.wednesday %>) {
                $('.fc-widget-content.fc-wed').html('busy');
            }
            if (<%= @sitter_busy_days.thursday %>) {
                $('.fc-widget-content.fc-thu').html('busy');
            }
            if (<%= @sitter_busy_days.friday %>) {
                $('.fc-widget-content.fc-fri').html('busy');
            }
            if (<%= @sitter_busy_days.saturday %>) {
                $('.fc-widget-content.fc-sat').html('busy');
            }
        }
    }
    setInterval(setBusyDays, 100);
<% end %>
