<p id="notice"><%= notice %></p>

<% if is_sitter? %>
  <h3>is Sitter</h3>
<% end %>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.encrypted_email_address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.encrypted_phone_number %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @user.birthdate %>
</p>

<% if is_sitter? %>

  <p>
    <strong>Zip Code:</strong>
    <%= @sitter.zip_code %>
  </p>

  <p>
    <strong>Residence Type ID:</strong>
    <%= @sitter.residence_type_id %>
  </p>

  <p>
    <strong>Capacity Type ID:</strong>
    <%= @sitter.capacity_type_id %>
  </p>

  <p>
    <strong>Has Dog From:</strong>
    <%= @sitter.has_dog_from %>
  </p>

<% end %>

<%= link_to 'Top', root_path %>
