<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.encrypted_email_address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.encrypted_phone_number %>
</p>

<p>
  <strong>Zip Code:</strong>
  <%= @user.encrypted_zip_code %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @user.birthdate %>
</p>

<%= link_to 'Top', root_path %>
