<% provide(:title, 'Become a sitter') %>
<h1>Become a sitter</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@sitter) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :zip_code %>
      <%= f.text_field :zip_code, class: 'form-control' %>
      <br>

      <%= f.label :residence_type_id %>
      <%= f.number_field :residence_type_id, class: 'form-control' %>
      <br>

      <%= f.label :capaciry_type_id %>
      <%= f.number_field :capacity_type_id, class: 'form-control' %>
      <br>

      <%= f.label :has_dog_from %>
      <%= f.date_field :has_dog_from, class: 'form-control' %>
      <br>

      <%= f.submit "Become a sitter", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= link_to 'Top', root_path %>
